:root{
    --primary: #FEEAE6;
    --secondary: #FEEAE6;
    --third: #442C2E
}

.booksproject {
    background-color: var(--primary);
    height: 100vh;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    box-sizing: border-box;
}

.logo {
    margin-top: 10px;
    font-size: 22px;
    grid-column: 2 / 3;
}

.buttoncontainer {
    margin-top: 15px;
    grid-column: 5 / 9;
}

.button {
    background-color: var(--third);
    padding: 5px;
    color: White;
    align-items: center;
    margin-left: 3px;
}

.content {
    font-size: 40px;
    margin: 20px;
}