:root{
    --primary: #FEDBD0;
    --secondary: #FEEAE6;
    --third: #442C2E;
}

h3 {
    text-align: center;
}

.booksproject {
    background-color: var(--primary);
    height: 100vh;

    overflow-y: overlay;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}

.logo {
    margin-top: 10px;
    font-size: 22px;
    grid-column: 2 / 3;
}

.buttoncontainer {
    margin-top: 15px;
    grid-column: 5 / 9;
}

.button {
    background-color: var(--third);
    padding: 5px;
    color: White;
    align-items: center;
    margin-left: 3px;
}

.wrapper {
    font-size: 25px;
    margin: 20px;
}

.content {
    font-size: 43px;
}

.formcontainer {
    margin: 40px 20px;
}

.listbook {
    margin-top: 30px;
    padding: 5px;
    background-color: var(--secondary);
}


.inputbuton {
    background-color: var(--third);
    color: white;
    padding: 5px;
    width: 25%;
    margin: 18px;
}

/* small tablet styles  */

@media screen and (min-width: 620px) {
    
    
    .logo {
        margin-top: 10px;
        font-size: 35px;
        grid-column: 2 / 4;
    }
    
    .buttoncontainer {
        margin-top: 15px;
        grid-column: 9 / 10;
    }
    
    .button {
        padding: 13px;
        color: White;
        align-items: center;
        margin-left: 18px;
        font-size: 20px;
    }
    
    .wrapper {
        font-size: 30px;
        margin: 20px 50px;
    }
    
    .content {
        font-size: 47px;
    }
    
    .formcontainer {
        margin: 60px 90px;
    }

    .listbook {
        width: 100%;
    }
    
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        color: white;
        font-size: 20px;   
    }

    td {
        padding: 10px;
        font-size: 17px;
    }

    
}
@media screen and (min-width: 960px) {


    
    
    
    .wrapper {
        font-size: 30px;
        margin: 20px 14%;
    }
    
    
    
    .formcontainer {
        margin: 80px 14%;
    }

    .listbook {
        width: 100%;
    }
    
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        color: white;
        font-size: 30px;   
    }

    td {
        padding: 10px;
        font-size: 27px;
    }

}

@media screen and (min-width: 1200px) {


    .landing {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    
    .wrapper {
        font-size: 30px;
        margin-top: 60px;
        grid-column: 1 / 6;

    }
    
    .content {
        font-size: 47px;
    }
    
    .formcontainer {
        grid-column: 6 / 10;

    }
    
}